$primary-color: #5cdb95;
$secondary-color: #05336B;
$third-color: white;
$fourth-color: #379683;

@import "fonts.scss";
@import "navbar.scss";
@import "create-test.scss";
@import "main_page.scss";
@import "game.scss";
@import "profile.scss";

.container{
    margin-top: 5%;
}
body{
    background-color:$primary-color;
    font-family: 'Noto Sans JP', sans-serif;

    .base-btn{
        background-color: $secondary-color;
        color: white;
        width: 100%;
        
    }
    .base-btn:hover{
        color: $third-color;
    }
    a{
        color: $secondary-color;
    }
    .login-container{
        padding-top: 18%;
    }
    .rs-button{
        margin-top: 10px;
    }

    .rounded-input{
        border-radius: 20px;
    }
    .page-title{
        margin-bottom: 15px;
    }
}
.test-item{
    min-height: 55px;
    background-color: $third-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary-color;
    margin-bottom: 5px;
}

