<nav class="navbar custom-navbar">
  <a class="custom-navbar-brand" href="/">ChatLearning</a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ username }}
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/perfil">Perfil</a>
      <a class="dropdown-item" href="/crear-test">Crear Test</a>
      <span class="dropdown-item" onclick="logout()" >Cerrar sesión</span>
    </div>
  </div>
</nav>
