{% extends "../private_view.twig" %}

{% block navbar %}
    {% include '../navbar.twig' %}
{% endblock %}
{% block body %}
    <h2>{{ test_title }}</h2>
    
    <div class="row" id="lobby">
        <span class="col-sm-12 col-md-5">
            <h4>Participantes</h4>
            <div id="connected_players">
            </div>
            <div><button onclick="get_ready(this)" class="test-item-button btn base-btn rounded-input">Empezar</button></div>
        </span>
        <div class="col-sm-12 col-md-5 offset-md-2" id="connected_users_container">
            <h4>Usuarios Conectados</h4>
            <span id="connected_users">
            </span>
            <div class="col-sm-12 col-lg-8 offset-lg-2">
                <div class="input-group mb-3">
                    <input id="search-user-input" type="text" class="form-control" placeholder="Introduce un nombre de usuario">
                    <div class="input-group-append">
                      <span onclick="search_users()" class="input-group-text" id="search-button">Buscar</span>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="row" id="game">
        <div class="col-md-7 col-sm-12">
            aaaa
        </div>
        <div class="col-md-5 col-sm-12">
            <div id="chat-area"></div>
            <div class="input-group mb-3">
                <input id="chat-input-message" type="text" class="form-control" placeholder="Escribe tu mensaje">
                <div class="input-group-append">
                    <span class="input-group-text" id="chat-btn-send">Enviar</span>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
{% block scripts %}
    {{ parent() }} 
    <script src="/js/game.js"></script>
{% endblock css %}